@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  background-image: url("../public/space_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @keyframes rainbow-text {
  0%,100% {
    color: red;
  }
  16% {
    color: orange;
  }
  33% {
    color: yellow;
  }
  50% {
    color: green;
  }
  66% {
    color: blue;
  }
  83% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

.rainbow-effect:hover {
  animation: rainbow-text 1s infinite;
} */

/* Rainbow Text Animation */
@keyframes slide {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 100% center;
  }
}

.rainbow-text:hover {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline;
  animation: slide 2s linear infinite;
}

.umich-text:hover {
  background: linear-gradient(90deg, blue, yellow, blue, yellow, blue, yellow, blue, yellow, blue, yellow, blue, yellow, blue, yellow);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline;
  animation: slide 2s linear infinite;
}